body{
  background-color: #000000;
  color: #FFFFFF;
}
#left_banner_area{
  background-color: #000088;
}
#right_banner_area{
  background-color: #880000;
}
header{
  background-color: #004444;
}
main{
  background-color: #112211;
}
input{
  background-color: #222222;
}
footer{
  background-color: #004444;
}
